.container {
    min-height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero Section */
#hero {
    background: url("../img/about.jpg") fixed;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: center;
}

#hero h1 span {
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
}

/* End Hero Section */